# personal setting, you can add your ignore setting below
.vscode/
data/
__pycache__
pred.jpg
FCRN/NYU_FCRN-checkpoint.zip
FCRN/NYU_FCRN.ckpt*
__pycache__/
.idea/
.checkpoints/
.fuse*
# your ignorance